{% extends 'base.html' %}
{% block body %}
<h3>Add car details</h3>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="brand_name" placeholder="Brand Name"><br>
    <input type="text" name="model_name" placeholder="Model Name"><br>
    <input type="text" name="type" placeholder="Type"><br>
    <input type="text" name="year" placeholder="Year"><br>
    <input type="file" name="image"><br>
    <button>
        Submit
    </button>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endblock %}